/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(300deg,rgb(83, 183, 91), rgb(14, 221, 221));
    
}

.answersContainer{
    font-weight: 100;
    font-size:3em ;
} */